<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :description %><br>
    <%= f.text_field :description %>
=======
    <%= f.label :groups %><br>
    <%= f.text_field :groups %>
>>>>>>> 8dbea2f435ac99e938a1c3b4bb02a7a5f3b7172f
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
