<<<<<<< HEAD
<h5 class="form-control">Editing</h5>

<%= render 'form' %>

<%= link_to 'Show', @group, class: "label label-success" %> |
<%= link_to 'Back', groups_path, class: "label label-warning" %>
=======
<h1>Editing Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
>>>>>>> 8dbea2f435ac99e938a1c3b4bb02a7a5f3b7172f
