<p id="notice"><%= notice %></p>

<h5 class= "form-control"> 
Select a Course and Study!</h5>

<div class="jumbotron"> 
<table>
  <thead>
    <tr>
      <th>Courses</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.groups %></td>
        <td><%= link_to 'Show', group, class: "label label-success" %></td>

        <td><%= link_to 'Edit', edit_group_path(group), class: "label label-warning" %></td>
        
        <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Group', new_group_path, class: "btn btn-primary" %>
</div>