<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p class="panel panel-heading"> Welcome to the <strong> <%= @group.description %> </strong> Group!
</p>

<%= link_to 'Edit', edit_group_path(@group), class: "label label-warning" %> |
<%= link_to 'Back', groups_path, class: "label label-success" %>
=======
<p>
  <strong>Selected Course:</strong>
  <%= @group.groups %>
</p>

<div class="jumbotron center"> 

<p class= "label label-warning" > Welcome to the <%= @group.groups %> Chat!
</p>

<p></p>

<p> Here is where a live chatting system will be implemented </p>

<hr>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

</div>
>>>>>>> 8dbea2f435ac99e938a1c3b4bb02a7a5f3b7172f
