<!DOCTYPE html>
<html>
<head>
  <%= render 'favicon' %>
  <title> StudyShark | Learn With Students From Your University! | StudyShark 2016. </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
<%= render "layouts/navBar" %>
</div>

<div class="container">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-success") %>
		<% end %>
<%= yield %>
</div>


<div class="container">
<%= render "layouts/pagination" %>
<h6> StudyShark (Updated April 5, 2016) | William Butler | University of Maryland: College Park | Copyright 2016 </h6>
</div> 

</body>
</html>
