<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render "layouts/navBar" %>

<div class="container">
<%= yield %>
</div>

<hr>
<p>
<%= link_to "Home", root_path %>
<h6> Copyright by StudyShark (William Butler) </h6>
</p>
</body>
</html>
